<p>
  Simple example of accordion panel, pretty much the same as the JSF version.
</p>
<p-accordion>
  <p-accordionTab header="James Comey">
    President Donald Trump's decision to fire former FBI director James Comey in May 2017 was later described as perhaps the "biggest mistake in modern political history" by Mr Trump's then advisor Steve Bannon.
  </p-accordionTab>
  <p-accordionTab header="Woolworths">
   Woolworths checkouts disabled by a nationwide technical glitch are back online, the supermarket says, after an earlier outage forced customers to abandon their shopping in the aisles and some stores to close their doors.
  </p-accordionTab>
  <p-accordionTab header="Callum Hawkins" [selected]="true">
   Scottish athlete Callum Hawkins has been discharged from hospital a day after he collapsed during the Commonwealth Games marathon and was left on the road without medical attention.
  </p-accordionTab>
</p-accordion>

<br>


